/* root rules */
:root {
    --dark: #121212;
    --blue: #285bd4;
    --grey: #f5f5f5;
    /* default "bg-light" class bootstrap */
    --light-grey: #f8f9fa;
    --white: #ffffff;
}


/* global rules(all) */
* {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark);
}


/* NAVBAR */

.uil-search {
    font-size: 25px;
    color: var(--blue);
}

.nav-link {
    padding-bottom: 6px;
    margin-right: 10px;
    color: var(--dark) !important;
    font-weight: 300;
}

.nav-utils {
    padding-right: 8px;
}


/* Login button */
.btn-login {
    color: var(--dark) !important;
}
/* login button effect */
.btn-login:hover {
    color: var(--blue) !important;
  }


/* Register button */
.btn-outline {
    border-color: var(--blue);
    color: var(--blue);
    font-weight: 400;
    border-radius: 0px;
}
/* btn transition */
.btn-outline {
    transition-duration: 0.4; 
  }
  /* btn hover effect */
.btn-outline:hover {
    background-color: var(--blue);
    color: var(--white);
  }




  /* MASTHEAD */

  .mh-title {
      font-weight: 700;
  }
  .mh-subtitle {
      font-size: 14px;
  }
  #mh-btn {
      margin-top: 10px;
  }

  /* padding applicato all'immagine da md in su */
    @media (min-width: 992px) {
        .mh-img {
            padding: 50px;
        }
    }

    /* margine dal txt all'img da sm in giu(per disp. mobile) */
    @media (max-width: 767.98px) {
        .mh-cont-text {
            margin-bottom: 70px !important;
        }
    }




    /* SPONSOR LINE */

    /* icon color */
    .fab {
        color: #aaaaaa;
    }

    .sp-title {
        font-weight: 400;
        font-size: 14px;
        color: #aaaaaa;
    }




    /* OUR MISSION SECTION */

    .om-title {
        font-weight: 700;
    }

    .om-text {
        font-size: 14px;
    }

    /* our mission IMG Responsive  */
    .responsive {
        width: 100%;
        height: auto;
    }


    /* Our Mission Queries */

    /* margine sx al cont Our Mission da xl in su */
    @media (min-width: 1200px) {
        .om-cont {
            margin-left: 50px;
        }
    }

    /* margine aggiuntivo (y) applicato solo al txt OurMission da lg in giu(mobile) */
    @media (max-width: 1199.98px) {
        .om-cont {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }




    
    /* FEATURES SECTION */

    .feat-title {
        font-weight: 700;
    }
    .feat-text {
        font-size: 14px;
    }
        /* FEATURES TITLE FULL RESPONSIVE.. MANUALLY :( */
        
        /* margine sx al title Features Section da xl in su */
        @media (min-width: 1200px) {
            .feat-cont {
                padding-left: 100px;
            }
        }

        @media (min-width: 992px) {
            .feat-cont {
                padding-left: 70px;
            }
        }

        @media (max-width: 768px) {
            .feat-cont {
                padding-left: 50px;
            }
        }



        /* FEATURES SECTION CARD CUSTOMIZATION */

        .card {
            border-radius: 0px;
            /* custom colors for the cards, same palette of light-grey color (Bs light default) */
            border: 2px solid #edeff2;
            background-color: #f4f5f7;
        }

    /* custom card icons */
    .uil-clock {
        font-size: 35px;
        color: var(--blue);
    }
    .uil-exchange {
        font-size: 35px;
        color: var(--blue);
    }
    .uil-lock-alt {
        font-size: 35px;
        color: var(--blue);
    }
    .uil-globe {
        font-size: 35px;
        color: var(--blue);
    }
    .uil-wallet {
        font-size: 35px;
        color: var(--blue);
    }
    .uil-chart-line {
        font-size: 35px;
        color: var(--blue);
    }

    /* ICON of button of the cards (more info) */
    .uil-angle-right {
        font-size: 20px;
        color: #aaaaaa;
        cursor: pointer;
    }
    /* MORE INFO BUTTON (CARDS) */
    .card-info-text {
        color: #aaaaaa;
        cursor: pointer;
    }
    .card-info-text:hover {
        color: var(--blue);
    }




    /* PRODUCTS SECTION */
    .jb-cont {
        background-color: #f4f5f7;
        border: 2px solid #edeff2;
    }


/* CARD CREDIT CARD */
    @media (min-width: 992px) {
        #creditCardJumboImg {
            padding-top: 50px !important;
            padding-right: 50px !important;
            padding-bottom: 50px !important;
            padding-left: 50px !important;
        }
    
    }

/* tolgo Pb dal text nella card delle credit card included */
    @media (max-width: 575.98px) {
        #creditcardJumboText {
            padding-bottom: 0px !important;
        }
    }
/* tolgo Pb dall'IMG nella card delle credit card included */
    @media (max-width: 575.98px) {
        #creditCardJumboImg {
            padding-top: 30px !important;
        }
    }


    /* tolgo P (da p-5) nella card del mobile banking in products section */
    @media (max-width: 575.98px) {
        #appJumboText {
            padding-top: 30px !important;
            padding-bottom: 20px !important;
        }
    }


/* CUSTOMER SUPPORT CARD */
    @media (min-width: 992px) {
        #customerSupportCard {
            padding: 60px !important;
        }
    
    }

    @media (max-width: 575.98px) {
        #customerSupportCard {
            padding-bottom: 0px !important;
        }
    }
/* tolgo Pb dall'IMG nella card delle credit card included */
    @media (max-width: 575.98px) {
        #customerSupportCard {
            padding-top: 30px !important;
        }
    }





    /* CONTACTS SECTION */

    /* map */

    /* Set the size of the div element that contains the map */
    .mapouter {
        position:relative;
        text-align:right;
        height:250px;
        width: 250px;
    }
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:250px;
        width:250px;
    }





    /* FOOTER SECTION */

    .footer-cont {
        background-color: #f4f5f7;
        border: 2px solid #edeff2;
      }

    .ft-title {
        font-size: 16px;
        font-weight: 600;
    }

    .ft-text {
        font-size: 14px;
        color: #aaaaaa;
    }


    /* quick links */

.ft-link {
    text-decoration: none;
    font-size: 14px;
    color: #aaaaaa;
}

.ft-link:hover {
    color: var(--blue) !important;
  }


/* prove snippet footer */

  #button-addon1 {
    color: var(--blue);
  }
  
  i {
    color: var(--blue);
  }
  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
  
  .form-control.shadow-0:focus {
    box-shadow: none;
  }

  #ft-cont {
      padding-bottom: 0px !important;
  }